.rn-1ovo9ad {
    width: 300px!important;
}

.rn-1b6yd1w {
    font-size: 17px!important;
}



.rn-n6v787 {
    font-size: 11px!important;
}

.rn-1joea0r {
    margin-left: 40px!important;
}

.rn-1mf7evn {
    margin-right: 0px!important;
}

.rn-1oszu61.rn-1pz39u2.rn-1efd50x.rn-14skgim.rn-rull8r.rn-mm0ijv.rn-13yce4e.rn-fnigne.rn-ndvcnb.rn-gxnn5r.rn-1p0dtai.rn-deolkf.rn-6koalj.rn-16y2uox.rn-1wbh5a2.rn-1ro0kt6.rn-18u37iz.rn-1d2f490.rn-156q2ks.rn-lchren.rn-15d164r.rn-1jj8364.rn-sb58tz.rn-ifefl9.rn-bcqeeo.rn-wk8lta.rn-1qfoi16.rn-1mdbw0j.rn-1hfyk0a.rn-u8s1d.rn-zchlnj.rn-ipm5af.rn-1xnzce8.rn-13qz1uu.rn-1lgpqti {
    padding-bottom: 120px!important;
}