.TweetTextSize.js-tweet-text.tweet-text.tweet-text-rtl {
font-family: -apple-system;
}

.QuoteTweet-text.tweet-text.u-dir {
font-family: -apple-system;
}

.SummaryCard-content.TwitterCardsGrid-rtl {
font-family: -apple-system;
}

.fullname.show-popup-with-id.u-textTruncate.fullname-rtl {
font-family: -apple-system;
}

.fullname.show-popup-with-id.u-textTruncate {
font-family: -apple-system;
}

.ProfileHeaderCard-bio.u-dir {
font-family: -apple-system;
}

.ProfileHeaderCard-nameLink.u-textInheritColor.js-nav {
font-family: -apple-system;
}

.NewTweetButton-content.button-text.tweeting-text {
font-family: -apple-system;
}

.pretty-link.js-user-profile-link {
font-family: -apple-system;
}

.u-linkComplex-target.trend-name {
font-family: -apple-system;
}

.QuoteTweet-fullname.u-linkComplex-target {
font-family: -apple-system;
}

#profile-hover-container {
font-family: -apple-system;
}

#tweet-box-dm-conversation {
font-family: -apple-system;
}

.DMInboxItem-snippet {
font-family: -apple-system;
}

.TwitterCard {
font-family: -apple-system !important;
}

body.ar, body.ur, body.fa {
font-family: -apple-system !important;
}